#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#logo {
    margin: 5px;
    width: 50px;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}

/* #passwordErrors, #fullNameErrors {
  margin-left: 30px;
  display: none;
} */

#messagesUser, #messagesDevice {
  margin-left: 30px;
  display: none;
  color: #26a69a;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

#passwordErrorsList > li , #fullNameErrorsList > li{
  list-style-type: disc;
  font-weight: bold;
  color: red;
  margin-left: 30px;
}

#addDeviceForm, #deleteDeviceForm, #updateNameForm, #updatePasswordForm,  #main, #error, #passwordErrors,
#fullNameErrors {
   display: none;
}

.errorClass {
  color: red;
  font-weight: bold;
}

.input-field input {
   color: white;
}

.select-dropdown {
  color: white;
}

.select-wrapper .caret {
   fill: white;
}

.btn {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-right: 25px;
  width: 190px;
  text-align: center;
}

td {
  width: 25%;
}
