.page-footer {
  background-color: #26a69a;
  padding-top: 20px;
  margin-top: 60px;
}

canvas {
  width: 100px;
  height: 20%;
}

#logo {
    margin: 5px;
    width: 50px;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}
