#name {
  font-size: 35px;
  margin-top: -15px;
}

#logo {
  width: 45px;
  padding-top: 5px;
}

#messagesUser, #messagesDevice, #messagesWeeklySummary, #messagesDaySummary, #messagesAllData {
  margin-left: 30px;
  display: none;
  color: #26a69a;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

#passwordErrorsList > li , #fullNameErrorsList > li, #deviceErrorsList > li, #dayChartErrorsList > li {
  list-style-type: disc;
  font-weight: bold;
  color: red;
  margin-left: 30px;
}

#addDeviceForm, #deleteDeviceForm, #updateNameForm, #updatePasswordForm,  #main, #error, #passwordErrors,
#fullNameErrors, #ServerResponse, #signInFormErrors, #deviceErrors, #dayChartErrors, #messagesWeeklySummary,
#messagesDaySummary, #weeklyChartHeartRate, #weeklyChartSPO2, #dayChartHeartRate,
#dayChartSPO2, #viewDaySummaryControl, #viewDaySummaryControlDiv, #messagesAllData, #updateDeviceForm {
   display: none;
}

#sliderHoursValue {
  margin-top: 20px;
}

#sliderHours, #sliderFrequency {
  margin-top: 50px;
}

.content{
  min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.updateDeviceOption {
  margin-top: 20px;
  margin-bottom: 20px;
}

.errorClass {
  /* text-shadow : 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; */
  color: red;
  font-weight: bold;
}

.collection {
  padding-bottom: -4px;
}

.tab {
  display: inline-block;
	width: 340px;
}

.input-field input {
   color: white;
}

canvas {
  margin-top: 40px;
  margin-bottom: 40px;
}

.chartCanvas {
  width: 80vw;
  margin: auto;
}

.btn {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-right: 25px;
  width: 190px;
  text-align: center;
}

.dropdown-trigger {
  width: 20vw;
}

.page-footer {
  background-color: #26a69a;
  text-align: center;
  height: 50px;
}

td {
  width: 25%;
}

html {
  font-size: 13px;
}

@media screen and (min-width: 500px) {
  #logo {
      margin: 5px;
      width: 50px;
  }

  #name {
      font-size: 32pt;
      vertical-align: top;
  }

  .tab {
    display: inline-block;
  	width: 140px;
  }

  html {
    font-size: 18px;
  }
}
