footer {
  margin: 10px;
  text-align: center;
}

button {
  width: 100px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

#ServerResponse {
  display: none;
}

#logo {
    margin: 5px;
    width: 50px;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}
